compose.yml

conf/**/*.conf
# conf/**/*.ini
conf/**/*.json
# conf/**/*.yml

conf/comfyui/runner-scripts/download-models.txt


data/comfyui
data/nginx
data/ollama
data/openwebui
data/pipelines
data/postgres
data/redis

env/*.env
