services:
  auth:
    env_file: env/auth.env
    image: ghcr.io/iamobservable/jwt-auth-validator:0.1.0
    restart: unless-stopped

  db:
    depends_on:
      - watchtower
    env_file: env/db.env
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 20s
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      timeout: 5s
    image: pgvector/pgvector:pg15
    restart: unless-stopped
    volumes:
      - postgres:/var/lib/postgresql/data

  docling:
    env_file: env/docling.env
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 10s
      test: curl --fail http://localhost:5001/health || exit 1
      timeout: 5s
    image: quay.io/docling-project/docling-serve:latest
    restart: unless-stopped

  edgetts:
    depends_on:
      - watchtower
    env_file: env/edgetts.env
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 5s
      test: "curl --fail http://localhost:5050/voices -H 'Authorization: Bearer your_api_key_here' || exit 1"
      timeout: 5s
    image: travisvn/openai-edge-tts:latest
    restart: unless-stopped

  mcposerver:
    command: ["--config", "/app/conf/config.json"]
    depends_on:
      - watchtower
    env_file: env/mcposerver.env
    image: ghcr.io/open-webui/mcpo:latest
    restart: unless-stopped
    volumes:
      - ./conf/mcposerver:/app/conf:ro

  nginx:
    depends_on:
      - watchtower
    env_file: env/nginx.env
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 5s
      test: curl --fail http://localhost/ || exit 1
      timeout: 3s
    image: nginx:latest
    ports:
      - 4000:80
    restart: unless-stopped
    volumes:
      - ./conf/nginx/templates:/etc/nginx/templates

  ollama:
    depends_on:
      - watchtower
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    env_file: env/ollama.env
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 10s
      test: curl --fail http://localhost:11434/api/version || exit 1
      timeout: 3s
    image: ollama/ollama:latest
    post_start:
      - command: "ollama pull nomic-embed-text:latest"
      - command: "ollama pull qwen3:0.6b"
    restart: unless-stopped
    volumes:
      - ollama:/root/.ollama

  openwebui:
    depends_on:
      - auth
      - docling
      - db
      - edgetts
      - mcposerver
      - nginx
      - ollama
      - searxng
      - tika
      - watchtower
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    env_file: env/openwebui.env
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 10s
      test: curl --fail http://localhost:8080/health || exit 1
      timeout: 3s
    image: ghcr.io/open-webui/open-webui:cuda
    restart: unless-stopped
    volumes:
      - openwebui:/app/backend/data

  redis:
    depends_on:
      - watchtower
    env_file: env/redis.env
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 20s
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      timeout: 3s
    image: redis/redis-stack:latest
    restart: unless-stopped

  searxng:
    env_file: env/searxng.env
    depends_on:
      - redis
      - watchtower
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 10s
      test: curl --fail http://localhost:8080/ || exit 1
      timeout: 3s
    image: searxng/searxng:latest
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"
    post_start:
      - command: "wget https://raw.githubusercontent.com/iamobservable/open-webui-starter/refs/heads/main/conf/searxng/settings.yml.example -O /etc/searxng/settings.yml"
    restart: unless-stopped

  tika:
    env_file: env/tika.env
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 5s
      test: curl --fail http://localhost:9998/tika || exit 1
      timeout: 5s
    image: apache/tika:latest-full
    restart: unless-stopped

  watchtower:
    command: --cleanup --debug --interval 300
    env_file: env/watchtower.env
    image: containrrr/watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  ollama:
    external: false
  openwebui:
    external: false
  postgres:
    external: false
