services:
  auth:
    build:
      context: ./auth
      dockerfile: Dockerfile
    env_file: env/auth.env
    labels:
      - "com.centurylinklabs.watchtower.enable=false"
    restart: unless-stopped

  cloudflared:
    command: tunnel --no-autoupdate run
    depends_on:
      - watchtower
    env_file: env/cloudflared.env
    image: cloudflare/cloudflared:latest
    restart: unless-stopped
    volumes:
      - ./conf/cloudflare/config:/home/nonroot/.cloudflared

  comfyui:
    depends_on:
      - watchtower
    deploy: &gpu-deploy
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    env_file: env/comfyui.env
    image: yanwk/comfyui-boot:cu124-slim
    ports:
      - 8188:8188
    restart: unless-stopped
    volumes:
      - ./data/ComfyUI:/root/ComfyUI
      - ./conf/comfyui/runner-scripts/download-models.txt:/runner-scripts/download-models.txt

  db:
    depends_on:
      - watchtower
    env_file: env/db.env
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 20s
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      timeout: 5s
    image: pgvector/pgvector:pg15
    restart: unless-stopped
    volumes:
      - ./data/postgres:/var/lib/postgresql/data

  docling:
    env_file: env/docling.env
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 10s
      test: curl --fail http://localhost:5001/health || exit 1
      timeout: 5s
    image: quay.io/docling-project/docling-serve:latest
    ports:
      - 5001:5001
    restart: unless-stopped

  edgetts:
    depends_on:
      - watchtower
    deploy: &gpu-deploy
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    env_file: env/edgetts.env
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 5s
      test: "curl --fail http://localhost:5050/voices -H 'Authorization: Bearer your_api_key_here' || exit 1"
      timeout: 5s
    image: travisvn/openai-edge-tts:latest
    ports:
      - 5050:5050
    restart: unless-stopped

  nginx:
    depends_on:
      - cloudflared
      - watchtower
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 5s
      test: curl --fail http://localhost/ || exit 1
      timeout: 3s
    image: nginx:latest
    ports:
      - 80:80
    restart: unless-stopped
    volumes:
      - ./conf/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
      - ./conf/nginx/nginx.conf:/etc/nginx/nginx.conf

  ollama:
    depends_on:
      - watchtower
    deploy: *gpu-deploy
    env_file: env/ollama.env
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 10s
      test: curl --fail http://localhost:11434/api/version || exit 1
      timeout: 3s
    image: ollama/ollama:latest
    ports:
      - 11434:11434
    restart: unless-stopped
    volumes:
      - ./data/ollama:/root/.ollama

  openwebui:
    depends_on:
      - auth
      - docling
      - db
      - edgetts
      - nginx
      - ollama
      - searxng
      - tika
      - watchtower
    deploy: *gpu-deploy
    env_file: env/openwebui.env
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 10s
      test: curl --fail http://localhost:8080/health || exit 1
      timeout: 3s
    image: ghcr.io/open-webui/open-webui:cuda
    restart: unless-stopped
    volumes:
      - ./data/openwebui:/app/backend/data

  redis:
    depends_on:
      - watchtower
    env_file: env/redis.env
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 20s
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      timeout: 3s
    image: redis/redis-stack:latest
    restart: unless-stopped
    volumes:
      - ./data/redis:/data

  searxng:
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
      - DAC_OVERRIDE
    cap_drop:
      - ALL
    env_file: env/searxng.env
    depends_on:
      - redis
      - watchtower
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 10s
      test: curl --fail http://localhost:8080/ || exit 1
      timeout: 3s
    image: searxng/searxng:latest
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"
    restart: unless-stopped
    volumes:
      - ./conf/searxng/settings.yml:/etc/searxng/settings.yml:rw
      - ./conf/searxng/uwsgi.ini:/etc/searxng/uwsgi.ini:rw

  tika:
    env_file: env/tika.env
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 5s
      test: curl --fail http://localhost:9998/tika || exit 1
      timeout: 5s
    image: apache/tika:latest-full
    ports:
      - 9998:9998
    restart: unless-stopped

  watchtower:
    command: --cleanup --debug --interval 300
    env_file: env/watchtower.env
    image: containrrr/watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
